<div class="row footer">
    <div class="col-md-12">
        <span>ThinkPlanWrite</span>
    </div>
    <div class="col-md-12">
        <ul>
            <li><p></p><p></p></li>
            <li><a class="home" href="https://www.thinkplanwrite.com/#/login">Login</a> &middot; <a class="home" href="https://www.thinkplanwrite.com/#/register">Register</a></li>
            <li><p></p><p></p></li>
            <li><a class="home" href="https://www.thinkplanwrite.com/#/privacy">Privacy Policy</a> &#xb7; <a class="home" href="https://www.thinkplanwrite.com/#/terms">Terms of Use</a></li>
            <li><p></p><p></p></li>
        </ul>
    </div>
    <div class="col-md-12 footer-last">
        Copyright &copy; DigitalRep - All Rights Reserved
    </div>
</div>
