<app-navigation></app-navigation>

<div *ngIf="showSpinner" class="spinner">
	{{ showSpinner }}
	<img src="assets/Spinner.gif" alt="Loading..." />
</div>

<div class="container-fluid" [class.block]="showSpinner">

	<div class="row">

		<div class="centred">
			<h1>{{title}}</h1>
			<h2>(Alpha)</h2>
			<p><i>1,000 word limit</i></p>
		</div>

		<div class="col-lg-8 col-md-8 col-sm-8">

			<div class="main">
				<div contentEditable=true #content class="content" (click)="clear()" (paste)="runAnalysis()" (keyup)="runAnalysis()">
					Paste text here
				</div>
			</div>

			<br/><br/>

		</div>

		<div class="col-lg-4 col-md-4 col-sm-4">

			<div class="side">

				<div *ngIf="showWordCount" class="wordcount">
					<p>Wordcount: {{ writing.wordcount }}</p>
					<hr>
				</div>

				<div *ngIf="showThatCount" class="thatcount">
					<p>'That' count: {{ thatCount }}</p>
					<hr>
				</div>

				<div *ngIf="showRepeated" class="adverbs">
					<p>Repeated Words: {{ repeated }}</p>
					<ul *ngFor="let word of repeatedWords | keys">
						<li>{{ word.key }}: {{ word.value }}</li>
					</ul>
					<hr>
				</div>

				<div *ngIf="showAdverbs" class="adverbs">
					<p>Adverbs ending in 'ly': {{ adverbCount }}</p>
					<ul *ngFor="let adverb of foundLy">
						<li>{{ adverb }}</li>
					</ul>
				</div>

			</div>

		</div>

	</div>

	<app-footer></app-footer>

</div>
